@model IEnumerable<MaximaTech.api.Models.Produtos>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<a asp-action="Create" class="btn btn-primary">Novo Produto</a>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Status</th>
            <th>Departamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Codigo</td>
                <td>@produto.Descricao</td>
                <td>@produto.Preco.ToString("C")</td>
                <td>@(produto.Status ? "Ativo" : "Inativo")</td>
                <td>@produto.Departamento?.Descricao</td>

                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <form asp-action="Details" asp-route-id="@produto.Id" method="get">
                            <button type="submit" class="btn btn-secondary">Detalhes</button>
                        </form>
                        <form asp-action="Editar" asp-route-id="@produto.Id" method="post">
                            <button type="submit" class="btn btn-warning">Editar</button>
                        </form>
                        <form asp-action="Deletar" asp-route-id="@produto.Id" method="post">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
